<div class="modal js-error" data-modal="error">
    <div class="modal-error" data-modal-container>
        <div class="modal-error__inner">
            <div class="modal-error__text js-error-block">
                Пользователь с таким имейлом/телефоном уже существует
            </div>
        </div>
    </div>
</div>

<div class="modal js-success is-open" data-modal="success">
    <div class="modal-success" data-modal-container>
        <div class="modal-success__inner">
            <div class="modal-success__title">Добро пожаловать!</div>
            <div class="modal-success__logo">Our logo</div>
            <div class="modal-success__action">
                Для активации аккаунта выполните инструкцию в письме, которое мы отправили на Ваш E-mail.
            </div>
            <div class="modal-success__hint">
                После активации Вы сможете войти в свой личный кабинет, используя свой логин и пароль.
            </div>
            <div class="modal-success__wish">ЖЕЛАЕМ УДАЧНОЙ ИГРЫ!</div>
            <div class="modal-success__return">
                <a href="/" class="modal-success__btn">
                    <span class="modal-success__btn-text">на главную!</span>
                </a>
            </div>
        </div>
    </div>
</div>